<template>
  <v-card>
    <v-card-title>
      <span class="headline"></span>
    </v-card-title>
    <v-card-text>
      <v-container>
        <v-form
          ref="form"
          v-model="valid">
          <v-datetime-picker 
            label="Select Datetime" 
            v-model="consult.dataConsulta"
            :disabled="checkOrigin()">
          </v-datetime-picker>
          <v-text-field
            v-model="consult.paciente"
            label="Nome"
            :disabled="checkOrigin()"
            required>
          </v-text-field>
          <v-text-field
            v-model="consult.observacao"
            label="Observacao"
            :disabled="checkOrigin()"
            required>
          </v-text-field>
        </v-form>
      </v-container>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        color="blue darken-1"
        text
        @click="closeDialog"
        v-if="checkOrigin()"
      >
        Fechar
      </v-btn>
      <v-btn
        color="blue darken-1"
        text
        @click="SaveConsult"
        v-if="!checkOrigin()"
        :disabled='!valid'
      >
        Salvar
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
  import{ mapGetters, mapActions } from "vuex";
  export default {
    props: ['consult'],
    data() {
      return {
        valid: false,
      }
    },
    methods: {
      ...mapActions(['createConsult']),
      closeDialog() {
        this.$emit('emitclosedialog')
      },
      async SaveConsult() {
        this.createConsult(this.consult);
        this.$refs.form.reset();
        this.$emit('emitclosedialog')
      },
      checkOrigin(){
        if(window.location.hash == '#/Consulta') {
          return true
        } else {
          return false
        }
      },
      validate () {
        this.$refs.form.validate()
      },
    },
    computed: {
    ...mapGetters([
      'user'
    ]),
  },
  }
</script>

