<template>
  <v-card
    absolute
    left
    width="256"
  >
    <v-navigation-drawer >
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="title">
            {{user.nome}}
          </v-list-item-title>
          <v-list-item-subtitle>
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list
        dense
        nav
      >
      <v-list-item-content>
        <v-list-item-title>
          <router-link :to="{ name: 'Consulta' }">
            Consulta
          </router-link>
        </v-list-item-title>
        <v-list-item-title >
          <router-link :to="{ name: 'Criar' }">
            Criar Consulta
          </router-link>
        </v-list-item-title>
        </v-list-item-content>
      </v-list>
    </v-navigation-drawer>
  </v-card>
</template>
<script>
import { mapGetters } from "vuex";
export default {
    data () {
      return {
        right: null,
        user: this.user.nome
      }
    },
    computed: {
      ...mapGetters(['user']),
    },
    mounted: {
    },
    methods: {}
  }
</script>
