<template>
  <v-container>
    <h1>CONSULTA</h1>
    <div style="display: flex;
      flex-wrap: wrap;">
      <v-card
        v-for="consult in consultList" :key="consult.id"
        class="mx-3 my-12"
        max-width="374">
        <v-card-title>{{consult.paciente}}</v-card-title>
        <v-card-text>
          <v-chip-group
            column
          >
            <v-chip class="deep-purple white--text">{{consult.dataConsulta}}</v-chip>
          </v-chip-group>
          <!-- <div class="my-4 subtitle-1"> Observações:
            {{consult.observacao}}
          </div> -->
        </v-card-text>
        <v-divider class="mx-4"></v-divider>
        <v-card-actions>
          <v-btn
            color="deep-purple lighten-2"
            text
            @click="showDialog(consult)"
          >
            Detalhes
          </v-btn>
        </v-card-actions>
      </v-card>
    </div>
      <v-row justify="center">
        <v-dialog
          v-model="dialog"
          persistent
          max-width="600px"
        >
          <DialogConsultDetails :consult="consult" @emitclosedialog="returnDialog" />
       </v-dialog>
      </v-row>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

import DialogConsultDetails from '../components/DialogConsultDetails/DialogConsultDetails';

export default {
  data() {
    return {
      selection: true,
      dialog: false,
      consult: {}
    }
  },
  components: {
    DialogConsultDetails
  },
  methods: {
    ...mapActions([
      'setCurrentUser',
      'getConsultList',
      'getConsultIDDetail'
    ]),
    async showDialog(consult) {
      let x ={
        id: consult.id,
        token: this.user.token
      }
      await this.getConsultIDDetail(x)
      this.consult = this.consultIDDetail
      this.dialog = true;
    },
    returnDialog(){
      this.dialog = false;
    },
    checkSessionToken(){
      const userToken = sessionStorage.getItem(`token`)
      if(!userToken) {
        this.$router.push('/Login') 
      }
    }
  },
  computed: {
    ...mapGetters([
      'user',
      'consultList',
      'consultIDDetail'
    ]),
  },
  mounted() {
    this.getConsultList();
    this.checkSessionToken()
  }
}
</script>
