<template>
  <div>
    <h1>Criar Consulta</h1>
    <DialogConsultDetails :consult="consult" @emitclosedialog="returnDialog" />
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import DialogConsultDetails from '../components/DialogConsultDetails/DialogConsultDetails';

export default {
  components: {
    DialogConsultDetails
  },
  data() {
    return {
      consult: {
        nome: '',
        dataConsulta: '',
        observacao: '',
        idMedico: 1
      }
    }
  },
  methods: {
    ...mapActions([
      'setCurrentUser',
      'createConsult'
    ]),
    returnDialog(){
      this.dialog = false;
    },
    checkSessionToken(){
      const userToken = sessionStorage.getItem(`token`)
      if(!userToken) {
        this.$router.push('/Login') 
      }
    }
  },
  computed: {
    ...mapGetters([
      'user'
    ]),
  },
  mounted() {
    this.checkSessionToken()
  }
}
</script>
