<template>
<v-container>
</v-container>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  components:{},
  data: () => ({
  }),
  computed: {
    ...mapGetters(['user']),
  },
  methods: {
    ...mapActions([
      'setCurrentUser'
    ]),
    checkSessionToken(){
      const userToken = sessionStorage.getItem(`token`)
      if(!userToken) {
        this.$router.push('/Login') 
      }
    }
  },
  mounted() {
    this.checkSessionToken()
    // this.setCurrentUser();
  },
}
</script>