<template>
	<v-card
    class="mx-auto my-12"
		shaped
    width="500">
    <v-card-title>LOGIN <br>
    </v-card-title>
    <v-card-text>
		<v-form
			ref="form"
			v-model="valid">
			<v-text-field
				v-model="email"
				:rules="emailRules"
				label="E-mail"
				required>
			</v-text-field>
			<v-text-field
				v-model="password"
				:rules="passwordRules"
				label="Password"
				required>
			</v-text-field>
		</v-form>
    </v-card-text>
    <v-card-actions>
      <v-btn
      :disabled="!valid"
      color="success"
      class="mr-4"
      @click="login"
    >
      Login
    </v-btn>
		<v-btn
      color="error"
      class="mr-4"
      @click="reset"
    >
      Reset
    </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
// import axios from 'axios';

export default {
	data: () => ({
    valid: '',
    email: 'designnoturno@gmail.com',
		emailRules: [
			v => !!v || 'E-mail is required',
      v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      v => (v && v.length != 0) || 'Este campo e obrigatorio',
		],
		password: '35649058a',
		passwordRules: [
			v => !!v || 'Password is required',
      v => (v && v.length >= 8) || 'Passwoprd precisa ter pelo menos 8 caracteres',
      v => (v && v.length != 0) || 'Este campo e obrigatorio',
    ],
  }),
	computed: {
    ...mapGetters(['user']),
  },
  methods: {
    ...mapActions([
      'setCurrentUser'
    ]),
		validate () {
			this.$refs.form.validate()
		},
		reset () {
			this.$refs.form.reset()
		},
		async login () {
      await this.setCurrentUser(this.email, this.password)
      this.$router.push('/')
    },
  },
  mounted(){
  }
}
</script>