
<template>
  <v-app id="app">
    <v-container id="principal">
      <div 
        width='250px'
        v-if="showHeader">
        <Menu></Menu>
      </div>
      <v-col>
        <router-view></router-view>
      </v-col>
    </v-container>
  </v-app>
</template>

<script>
import "../node_modules/vuetify/dist/vuetify.min.css";
import '../node_modules/vuetify/dist/vuetify'

import Menu from './components/Menu/Menu'

export default {
  name: 'App',
  components: {
    Menu
  },
  data: () => ({
    //
  }),
  methods:{
    
  },
  computed: {
    showHeader: function() {
      if (this.$route.path == "/Login") { 
        return false
      }else {
        return true
      }
    }
  }
};
</script>
<style>
#principal {
  display: flex;
  flex-flow: row;
}
</style>

